@import "palette";

@icon-width:14px;

.dropdown-width {
	width: 320px;	
	@media screen and (max-width: 320px) {
		width:200px;
	}
}

#home_holder {
	width: 600px;	
	margin: 0 auto;
	@media screen and (max-width: 800px) {
		width: 100%;
	}
}

.ClientSelectView {
	display: inline-block;
}

.DetailView {
	display: inline-block;
	padding-left: 12px;
}

.dropdown-container {
	&.show > .dropdown-display {
	   -ms-transform: scale(1,1); /* IE 9 */
       -webkit-transform: scale(1,1); /* Safari */
       transform: scale(1,1);
	}

	&.hide > .dropdown-display {
		-ms-transform: scale(0,0); /* IE 9 */
       -webkit-transform: scale(0,0); /* Safari */
       transform: scale(0,0);
	}
}

.dropdown-basic {
	position: relative;
		.dropdown-width;
		color: @primaryColor;
		font-size: 16 	px;
		line-height: 20px;
		-webkit-font-smoothing: antialiased;
		letter-spacing: 1px;
		background: @textPrimaryColor;
		border: 0;
		padding: 12px 12px 12px 6px;
		border-bottom: 1px solid @dividerColor;
}

i {
	position:absolute;
	right: 12px;
	width:@icon-width;
	height: 20px;
	font-size:1.125em;
	font-weight:bold;
	padding-right:12px;
	text-align:right;
}

.dropdown-selected {
	.dropdown-basic;	
	background: @primaryColor;
	color: @textPrimaryColor;
}

.dropdown-display {
	position:absolute;

	.dropdown-item {
		.dropdown-basic;
	}
}